
# Python (Backend)
backend/venv/
backend/.venv/
__pycache__/
*.pyc
.env

# Node.js (Frontend)
client/node_modules/
client/dist/
client/.env.local
client/.env.*.local

# Редакторы кода и система
.vscode/
.idea/
.DS_Store