FRONTEND_URL="http://localhost:5173 or https://site-name.com"

DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/data_base_name

SECRET_KEY = "wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww"
ALGORITHM = "PZ000"